<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.min.css' %}">
    {% block css %} {% endblock css %}
    <title>{% block title %} {% endblock title %}</title>
</head>
<body>

    <header>
        <section>
            <nav class="navbar navbar-expand-lg bg-body-tertiary">
                <div class="container-fluid fs-4">
                  <a class="navbar-brand fs-2 fw-bold fst-italic" href="{% url 'homeps' %}">MONA</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 ms-3 mb-lg-0">
                      <li class="nav-item">
                        <a class="nav-link fw-medium" aria-current="page" href="{% url 'homeps' %}">Home</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link fw-medium mx-4" href="{% url 'gellarys' %}">Gellary</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link fw-medium me-4" href="{% url 'joinus' %}">Join now</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link fw-medium me-4" href="{% url 'loginUser' %}">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link fw-medium me-4" href="{% url 'createUser' %}">Create User</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link fw-medium me-4" href="{% url 'showJoin' %}">Show join</a>
                      </li>
                      
                    </ul>
                    <form class="d-flex" role="search">
                      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                      <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                  </div>
                </div>
              </nav>
        </section>
        {% block header %} {% endblock header %}
    </header>

    <!-- main content  -->

    {% block content %}
    
    {% endblock content %}

    <!-- fooder section start -->
    
    <footer class="bg-secondary" style="height: 400px;">
        <section class="container text-white">
            <hr>
            <h1 class="my-5 text-center">Contact Us</h1>
            <hr>
            <div class="d-flex justify-content-around">
                <div class="">
                    <h2 class="fs-4">M A MONAYEM</h2>
                    <p>Email:mamonayem6@gmail.com</p>
                </div>
                <div class="">
                    <h2 class="fs-4">Hotline </h2>
                    <ul>
                        <li>+00402334344</li>
                        <li>+434367773</li>
                        <li>+8801962891888</li>
                        <li>+323232444</li>
                    </ul>
                </div>
                <div class="">
                    <h2 class="fs-4">Social or Online</h2>
                    <ul>
                        <li>Facebook</li>
                        <li>instagram</li>
                        <li>Twiter</li>
                        <li>Snapshot</li>
                    </ul>
                </div>
                <div class="">
                    <h2 class="fs-4">Social or Online</h2>
                    <ul>
                        <li>Facebook</li>
                        <li>instagram</li>
                        <li>Twiter</li>
                        <li>Snapshot</li>
                    </ul>
                </div>
            </div>
            
        </section>
        <p class="text-center mt-4 text-info">M A MONAYEM ISLAM © 2002 - 2023 All rights reserved .</p>
    </footer>

    <!-- fooder section end -->
    {% block js %}{% endblock js %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>